body, html {
    height: 100%;
    margin: 0;

}

.menu {
    background-color: rgb(224, 11, 11);
    overflow: hidden;
}

.menu a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.menu a:hover {
    background-color: rgba(49, 3, 3, 0.568);
  }

.menu a:focus {
    background-color: rgb(224, 11, 11);
}


.menu .icon {
    display: none;
  }

.heropilt, img{
    text-align: center;
    background-size: cover;
    width: 100%;
    display: table;
    height: auto;
    position: relative;
    
}

.herotekst {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5vw;
    transform: translate(-50%, -50%)
    
}

.herotekst h1{
    text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.andmed {
    display:flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1vw;
}
  
.andmed h1 {
    color: rgb(224, 11, 11);
}

.andmed2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 20px;
    font-size: 1vw;
    text-align:center;
}

.andmed2 h1{
    color: rgb(224, 11, 11);

}
.footer {
    background-color: rgb(224, 11, 11);
    color: white;
}
